*{
    margin:0;
    padding:0;
}

.box{
    width:500px;
    margin:0 auto;
    background: tan;
    height:100vh;
    border-radius:20px;
    display:grid;
    grid-template-rows: 34% 60% ;
    align-content:space-between;
    padding :20px;
}

.box1{
    background:white;
    border-radius:20px;
    padding:20px;
    display:grid;
    grid-template-rows: 65% 30%;
    align-content:space-between;

}

.boxa{
    background: gray;
    border-radius: 10px;
    color:white;
    text-align: right;
    font-size: 80px;
}

.boxb{
    background: black;
    border-radius: 10px;
    width: 50%;
    margin:0 auto;

}

.box2{
    background: black;
    border-radius: 20px;
    border: 1px solid white;
    color:white;
    display:grid;
    grid-template-columns: repeat(5,20%);
    text-align: center;
}

.block{
    border:1px solid white;
    margin:10px;
    align-items:center;
    font-size:20px;


}

.block:hover{
    background: white;
    color:black
}
